<div class="container">

  <h1>Fomulario</h1><br>
  <button class="btn btn-outline-primary" routerLink="/listar">Listado</button>
  <hr>

  <div class="col">

    <form [formGroup]="form" >
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input 
            [ngClass]="{'is-invalid': !form.controls['name'].valid }"
            formControlName="name"
            [(ngModel)]="user.name"
             type="text" class="form-control">
             <div class="invalid-feedback">
               Solo se acepta escribir texto 
              </div>
          </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Lastname</label>
            <input 
            [ngClass]="{'is-invalid': !form.controls['lastname'].valid }"
            formControlName="lastname"
            [(ngModel)]="user.lastname"
             type="email" class="form-control">
             <div class="invalid-feedback">
                Solo se acepta escribir texto 
               </div>
          </div>



        <div class="form-group">
            <label for="exampleInputEmail1">Telefono</label>
            <input 
            [ngClass]="{'is-invalid': !form.controls['telefono'].valid }"
            formControlName="telefono"
            [(ngModel)]="user.telefono"
          type="text" class="form-control"
            >
             <div class="invalid-feedback">
                Debes cumplir con 7 digitos o 10 
              </div>
          </div>




          <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            <input 
            [ngClass]="{'is-invalid': !form.controls['email'].valid }"
            formControlName="email"
            [(ngModel)]="user.email"
             type="text" class="form-control" placeholder="Password">
             <div class="invalid-feedback">
                Debes escibir un correo adecuado
               </div>
          </div>

          <button (click)="guardarUser()"
           type="submit" class="btn btn-primary">Submit</button>
           {{ form.valid }}
           {{ form.status }}

        </form>

  </div>

</div>